.card_principal{
    padding: 0 0 1em 0;
    margin-top: 0.5em;
    display: flex;
    width: 282px;
    background-color: #E2E2E2;
    flex-direction: column;
    justify-content: space-between;
    
}

.capa{
    width: 100%;
}

.favoritar , h2{
    padding: 0 1em;
}

h2{
    font-size: 18px;
    font-weight: bold;
    
}

.favoritar{
    width: 24px;
    margin-bottom: 16px;
}

.link_Imagem{
    text-decoration: none;
    color: #000000;
    text-align: left;
}